@charset "utf-8";
/* CSS Document */

.jumbotron {
background-image: url("images/sa copy.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.mb-4 {
background-color: lightgray;
text-align: center;
}


